@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Основные стили для header */
.header {
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 1000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  height: 80px;
}
@media (min-width: 950px) {
  .header {
    padding: 20px 50px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav .item-container {
  pointer-events: auto;
}

.logo img {
  height: 40px;
}

/* Скрываем меню на мобильных устройствах */
.nav {
  transition: transform 0.4s ease;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

/* Изначально скрытое состояние меню */
@media (max-width: 920px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.95);
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav li {
    margin-top: 30px;
  }
  .nav li .dekstop-selector {
    display: none;
  }
  .burder-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .burder-content #languageSelector {
    font-size: 10px;
  }
  .nav.open {
    transform: translateX(0);
  }
  /* Прячем текстовое меню на экранах меньше 920px */
  .nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
}
/* Бургер-кнопка */
.burder-content {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Отображаем бургер-кнопку на мобильных */
@media (max-width: 920px) {
  .burger {
    display: flex;
  }
  .burder-content {
    display: flex;
  }
}
/* Анимация бургер-кнопки в крестик */
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.start .content {
  justify-content: center;
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
  min-height: 70vh;
  color: white;
  padding: 100px;
  border-radius: 50px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.start .content .title {
  word-spacing: 0px !important;
}
.start .content .title::after,
.start .content .title::before {
  display: none;
}
.start .content .buttons {
  display: flex;
  align-items: center;
}
.start .content .buttons a::after {
  display: none;
}
.start .content .img {
  position: relative;
  width: 50%;
}
.start .content .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  left: 50px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  border-radius: 50px 50px 0 0 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.start .content .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  line-height: 1.6;
  font-size: 25px;
}
.start .content .info .buttons {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .start {
    margin: 0 20px;
  }
  .start .content {
    padding: 50px;
    min-height: auto;
    border-radius: 30px;
    gap: 20px;
  }
  .start .content .img {
    width: 70vh !important;
  }
  .start .content .img img {
    height: 60vh !important;
    position: relative;
    border-radius: 20px 20px 0 0 !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  .start .content .info {
    width: 40%;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .start {
    padding-top: 40px !important;
  }
  .start .content .img img {
    height: 40vh !important;
  }
  .start .info {
    font-size: 20px !important;
  }
}
@media (min-width: 1301px) {
  .start {
    margin: 0 20px;
  }
  .start .content {
    padding: 50px;
    min-height: auto;
    border-radius: 30px;
    gap: 20px;
  }
  .start .content .img {
    width: 50%;
  }
  .start .content .img img {
    height: 50vh !important;
    position: relative;
    bottom: -32px !important;
    border-radius: 20px 20px 0 0 !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  .start .content .info {
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1555px) {
  .start .content {
    justify-content: center;
    gap: 150px;
  }
  .start .content .img img {
    bottom: -32px !important;
  }
  .start .info {
    width: 30vw !important;
  }
}
@media (max-width: 1300px) {
  .start {
    margin: 0px !important;
  }
  .start .content {
    padding: 50px;
    min-height: auto;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
  }
  .start .content .img {
    width: 100%;
  }
  .start .content .img img {
    position: relative;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  .start .content .info {
    width: 100%;
    gap: 30px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 1080px) {
  .start .content .title {
    font-size: 30px;
  }
}
@media (min-width: 320px) {
  .start .content {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
    font-size: 0.9rem;
  }
  .start .content .info .text {
    font-size: 20px;
  }
  .start .content .buttons {
    display: flex;
    justify-content: center;
  }
  .start .content .img img {
    width: 100%;
    height: 25vh;
    border-radius: 15px 15px 0 0 !important;
    left: 0px;
    bottom: -30px;
  }
  .start .content .info {
    gap: 20px;
    font-size: 13px;
  }
}

.team .cards {
  padding: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
@media (max-width: 920px) {
  .team .cards {
    padding: 50px 0px;
  }
}
.team .card {
  cursor: pointer;
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  color: white;
  width: 350px;
  height: -moz-max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Hover эффект */
}
.team .card h1 {
  padding-top: 20px;
  transition: text-shadow 0.3s ease; /* Плавный переход для текста */
}
.team .card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для картинки */
  width: 100%;
}
.team .card h3 {
  font-size: 1.5em;
  margin: 15px 0 10px;
}
.team .card p {
  font-size: 1em;
  margin: 0;
}
.team .card:hover {
  transform: scale(1.1); /* Увеличение */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); /* Более яркая тень при наведении */
}
.team .card:hover img {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Очень мягкая подсветка картинки */
}

.about .content {
  margin: 100px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.about .content .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about .content .info h3 {
  font-size: 40px;
  font-weight: 600;
}
.about .content .info h4 {
  font-size: 40px;
  font-weight: 500;
}
.about .content .info p {
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
  color: #333;
  max-width: 700px;
  margin-bottom: 20px;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.about .content img {
  width: 500px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}
.about .content img:hover {
  transform: translateX(20px);
}
@media (min-width: 1600px) {
  .about .content .info p {
    max-width: 900px;
  }
  .about .content img {
    position: static !important;
  }
}
@media (min-width: 1200px) {
  .about .content {
    border-radius: 20px;
    margin: 120px;
    gap: 60px;
    flex-wrap: nowrap;
    padding: 30px;
    background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }
  .about .content .info {
    width: 60%;
  }
  .about .content .info h3,
  .about .content .info h4 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  .about .content .info p {
    font-size: 18px;
    color: #fff;
  }
  .about .content img {
    position: sticky;
    top: 0;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0 1px 25px #fff;
  }
}
@media (max-width: 920px) {
  .about .content {
    margin: 50px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .about .content .info h3,
  .about .content .info h4 {
    font-size: 36px;
  }
  .about .content .info p {
    font-size: 18px;
  }
  .about .content img {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .about .content {
    margin: 30px;
    gap: 20px;
  }
  .about .content .info h3,
  .about .content .info h4 {
    font-size: 18px;
  }
  .about .content .info p {
    font-size: 12px;
    font-weight: 600;
  }
  .about .content img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .services .list {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .services .list .card {
    background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
    color: white;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
}
@media (min-width: 1024px) and (min-width: 1562px) {
  .services .list .card {
    width: 450px;
  }
}
@media (min-width: 1024px) {
  .services .list .card .stroke {
    margin: 0px;
  }
  .services .list .card .subject {
    font-size: 30px;
    padding-top: 20px;
    transition: text-shadow 0.3s ease; /* Плавный переход для текста */
  }
  .services .list .card .subject::after,
  .services .list .card .stroke::after {
    display: none;
  }
  .services .list .card ul {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .services .list .card ul li {
    border-bottom: 1px solid #fff;
  }
  .services .list .card ul li .stroke {
    font-size: 20px;
    padding-bottom: 20px;
    word-break: break-word; /* Перенос слов */
    overflow-wrap: break-word; /* Для длинных слов */
    white-space: normal; /* Обычный перенос строк */
  }
  .services .list .card .stroke,
  .services .list .card .subject {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, -webkit-text-decoration 0.3s ease;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    transition: color 0.3s ease, text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
  }
  .services .list .card .stroke::after,
  .services .list .card .subject::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #32578b;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  .services .list .card .stroke:hover::after,
  .services .list .card .subject:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .services .list .card:hover {
    transform: scale(1.1); /* Увеличение */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); /* Более яркая тень при наведении */
  }
}
@media (max-width: 1024px) {
  .services ul {
    padding: 0px;
  }
  .services .list {
    background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    overflow-y: hidden;
    font-size: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .services .list .card ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .services .list .card ul li {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
  }
  .services .list li.card:last-child ul li:last-child {
    border: none;
  }
  .services .list h6 {
    margin: 0px;
  }
}

.person {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.person .title {
  margin: 0px;
  font-size: 30px;
}
@media (max-width: 768px) {
  .person .title {
    margin-top: 20px;
    font-size: 20px;
  }
  .person p {
    font-size: 12px;
  }
  .person .info .buttons .button {
    padding: 15px;
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .person {
    flex-wrap: nowrap;
    gap: 20px;
  }
  .person .title {
    font-size: 20px;
  }
  .person .photo {
    max-width: 400px;
  }
  .person .info {
    max-width: 400px !important;
  }
  .person .info .text {
    overflow-y: scroll !important;
    height: 50vh;
  }
  .person p {
    font-size: 12px;
  }
}
@media (max-width: 920px) {
  .person p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .person {
    gap: 50px;
  }
  .person .photo {
    width: 100%;
    max-width: 500px;
  }
  .person .info {
    max-width: 800px !important;
  }
  .person .info .text p {
    font-size: 14px;
  }
  .person .title {
    font-size: 25px;
  }
}
@media (min-width: 1350px) {
  .person .title {
    font-size: 30px;
  }
  .person .info .text p {
    font-size: 17px;
  }
}
.person .photo img {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  /* Анимация для фото */
  animation: fadeIn 1s ease-out;
}
.person .info {
  width: 100%;
  max-width: 800px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Анимация для блока .info */
  animation: fadeIn 1s ease-out;
  animation-delay: 0s; /* Старт одновременно с фото */
  opacity: 0; /* Скрытие до появления */
  animation-fill-mode: forwards; /* Сохранение конечного состояния анимации */
}
.person .info .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Анимация для текстовых блоков */
  /* Плавное появление по очереди */
}
.person .info .text div {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease-out;
  animation-fill-mode: forwards;
}
.person .info .text div:nth-child(1) {
  animation-delay: 0.3s; /* Подстраиваем под общий тайминг */
}
.person .info .text div:nth-child(2) {
  animation-delay: 0.5s;
}
.person .info .text div:nth-child(3) {
  animation-delay: 0.7s;
}

/* Анимация для появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* Анимация для появления с перемещением вверх */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.careers .text {
  width: 80%;
  font-weight: 700;
  gap: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 1301) {
  .careers .text p {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .careers .text p {
    font-size: 15px;
  }
}

/* @media (min-width: 1440px) { */
@media (min-width: 1240px) {
  .map .content {
    position: relative;
  }
  .map .content #map {
    width: 60% !important;
  }
  .map .content #map .mapBtnContainer button {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .map .content #map .mapBtnContainer button img {
    width: 15px !important;
  }
  .map .content .info {
    width: 40% !important;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px !important;
  }
  .map .content .info .text {
    position: absolute;
    z-index: 50;
    bottom: 30px;
    right: 30px;
    background: rgb(51, 51, 51);
    border-radius: 30px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .map .content .info img {
    width: 100% !important;
    height: 100%;
    box-shadow: none !important;
    border-radius: 30px 0px 0px 30px !important;
  }
}
.map .content {
  height: 50vh;
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  display: flex;
  color: #fff;
  border-radius: 30px;
  flex-wrap: nowrap; /* Убрали перенос строк */
  justify-content: space-between;
}
.map .content #map {
  height: 50vh !important;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 0px 30px 30px 0px;
  position: relative; /* Добавлено для ::after */
}
.map .content #map .gm-style-cc {
  display: none !important;
}
.map .content .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 0px;
}
.map .content .info img {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 0px 0px;
  width: 50%;
  box-shadow: 0 1px 15px #fff;
}
@media (min-width: 768px) {
  .map .content .info h1 {
    font-size: 20px !important;
  }
  .map .content .info p {
    font-size: 15px !important;
  }
}


/* @media (max-width: 1440px) { */
@media (max-width: 1240px) {
  .map .content {
    position: relative;
    flex-direction: column;
  }
  .map .content #map {
    width: 100% !important;
    border-radius: 30px;
    position: relative;
  }
  .map .content #map .mapBtnContainer {
    width: -moz-max-content;
    width: max-content;
    display: flex !important;
    flex-direction: row !important;
    left: 0 !important;
    gap: 10px;
  }
  .map .content #map .mapBtnContainer button {
    display: flex;
    height: 35px;
    align-items: center;
    margin: 0px !important;
  }
  .map .content #map .mapBtnContainer button img {
    width: 15px !important;
  }
  .map .content .info {
    position: absolute;
    z-index: 50;
    bottom: 30px;
    right: 30px;
    background: rgb(51, 51, 51);
    border-radius: 30px;
    padding: 15px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;
  }
  .map .content .info h1 {
    font-size: 10px;
  }
  .map .content .info p {
    font-size: 10px;
  }
  .map .content .info img {
    box-shadow: none !important;
    border-radius: 0px !important;
    display: none;
  }
}

.blog {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1320px) {
  .blog {
    flex-direction: column;
  }
  .blog .list {
    display: none !important;
    z-index: 500;
  }
  .blog .burgerList {
    width: 50px;
    position: fixed;
    padding: 5px;
    right: 20px;
    margin-top: -60px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5) !important;
    border-radius: 5px;
    z-index: 700;
    background: #fff;
  }
  .blog .list {
    margin-right: 20px;
    width: 100% !important;
  }
  .blog .content {
    width: 100% !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5) !important;
    padding: 20px;
  }
  .blog .content .items .item span {
    margin-left: 20px;
  }
  .blog .content .items .item span img {
    display: none;
  }
  .blog .content .author {
    width: 100% !important;
    padding: 0px !important;
  }
}
@media (max-width: 768px) {
  .blog .content {
    padding: 10px !important;
  }
  .blog .content .author {
    width: 80vw !important;
    padding: 5px !important;
  }
  .blog .nav {
    display: none !important;
  }
}
@media (min-width: 1320px) {
  .blog .burgerList {
    display: none;
  }
}
.blog .list {
  position: sticky;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  top: 0;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  background: #fff;
  z-index: 500;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.blog .list li {
  font-weight: 600;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
  border-radius: 20px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  transition: 0.3s ease all;
}
.blog .list li img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.blog .list li button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
.blog .list li .active {
  color: #32578b;
}
.blog .list li:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease all;
  background: #1b1b1b;
  border-bottom: 1px solid transparent;
}
.blog .list li:hover button {
  color: #91add4 !important;
}
.blog .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 30px;
  border-radius: 20px;
}
.blog .content .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.blog .content .nav a {
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  color: #32578b !important;
}
.blog .content .user {
  margin: 0px !important;
  width: -moz-max-content;
  width: max-content;
}
.blog .content .author {
  transition: 0.3s ease;
  font-weight: 500;
  color: #1b1b1b;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
}
.blog .content .author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blog .content .author:hover {
  background-color: #1b1b1b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 0.3s ease;
}
.blog .content .contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.blog .content .contact h1 {
  margin: 0 auto;
}
.blog .content .contact a::after {
  display: none;
}
.blog .content .contact a {
  margin: 0 auto;
}
.blog .content h1 {
  font-weight: 500;
}
.blog .content .button {
  width: 200px;
  margin: 0 auto;
}
.blog .content .data {
  font-weight: 500;
  color: gray;
}
.blog .content .nav a {
  color: #000;
}
.blog .content .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog .content .items .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog .content .items .item ul li .subject {
  font-size: 24px;
}
.blog .content .items .item .subject {
  font-weight: 500;
  font-size: 25px;
}
.blog .content .items .item .text span {
  display: flex;
  align-items: center;
}
.blog .content .items .item .text span img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}

.footer {
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  gap: 30px;
}
.footer .contact-mb {
  display: none;
}
.footer .logo {
  display: flex;
  align-items: flex-end;
  height: 50px;
}
.footer .logo img {
  max-width: 100px;
}
.footer ul {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}
.footer ul li label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer ul li p {
  font-size: 12px;
  font-weight: 500;
}
.footer .social {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 15px;
}
.footer .social li {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  display: flex;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.3s all ease;
}
.footer .social li img {
  width: 100%;
  height: auto;
}
.footer .social li:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  transform: scale(1.1);
}
@media (max-width: 375px) {
  .footer .logo {
    display: none;
  }
}
@media (max-width: 993px) {
  .footer .gmail {
    display: none !important;
  }
}
@media (max-width: 850px) {
  .footer {
    gap: 10px;
    display: none;
    background: linear-gradient(to top right, #000, rgb(0, 0, 0));
    height: 100px !important;
    flex-wrap: nowrap !important;
    padding: 20px !important;
  }
  .footer .contact {
    display: none;
  }
  .footer .contact-mb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer .contact-mb li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease;
    position: relative;
  }
  .footer .contact-mb li a::after {
    display: none;
  }
  .footer .contact-mb li .flag {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer .contact-mb li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .footer ul {
    justify-content: center !important;
    font-size: 10px !important;
    padding: 0px;
    width: 100%;
    flex: 1 !important;
  }
  .footer .social {
    flex-wrap: nowrap;
    gap: 10px;
  }
  .footer .social li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease;
  }
  .footer .social li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .footer .social li:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
    background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
    transform: scale(1.1);
  }
}

:root {
  --font-noto-sans-georgian: "Noto Sans Georgian", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

header, footer {
  touch-action: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.title {
  word-spacing: -2px;
}
@media (min-width: 1080px) {
  .title {
    font-size: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
  }
  .title h1 {
    font-size: 50px;
  }
  .title img {
    width: 50px;
  }
}
@media (max-width: 1080px) {
  .title {
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
  }
  .title h1 {
    font-size: 20px;
  }
  .title img {
    width: 50px;
  }
}
@media (max-width: 620px) {
  .title {
    font-size: 15px;
    gap: 5px;
  }
  .title h1 {
    font-size: 20px;
  }
  .title img {
    width: 30px;
  }
}

.title::before,
.title::after {
  content: "";
  flex: 1;
  height: 2px;
  border-radius: 50px;
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}

section {
  margin: 50px 0px;
}

a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, -webkit-text-decoration 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}

a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #32578b;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body {
  color: #0a0a0a;
  background: #f5f3ff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: hidden;
  touch-action: manipulation;
}

.container {
  width: 100%;
  padding: 50px;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: auto;
  max-height: calc(100vh - 180px);
  box-sizing: border-box; /* Учитываем отступы в расчете ширины */
}
@media (max-width: 920px) {
  .container {
    padding: 20px;
  }
}
.container .footer {
  display: none;
}
@media (max-width: 851px) {
  .container {
    max-height: calc(100vh - 80px);
    padding-bottom: 100px;
  }
  .container .footer {
    z-index: 900;
    height: 80pxenv(safe-area-inset-bottom) !important;
    display: flex;
    width: 100vw;
    position: fixed;
    padding-top: 10px;
    bottom: -10px;
    left: 0;
  }
}

/* Стиль для всего скроллбара */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}

/* Стиль для "ползунка" скроллбара */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
  border-radius: 10px;
  border: 3px solid #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* Стиль для фона скроллбара */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона (track) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; /* Тёмный оттенок для эффекта наведения */
}

::-moz-selection {
  background: #0a0a0a;
  color: #ffffff; /* Белый цвет текста для контраста */
}

::selection {
  background: #0a0a0a;
  color: #ffffff; /* Белый цвет текста для контраста */
}

/* Тень для курсора */
.cursor-shadow {
  position: fixed;
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: 1001;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.4);
  opacity: 0; /* Тень скрыта по умолчанию */
  transition: box-shadow 0.2s ease, opacity 0.2s ease;
}

/* При наведении на нужные элементы тень становится ярче */
.header:hover ~ .cursor-shadow,
.footer:hover ~ .cursor-shadow,
.card:hover ~ .cursor-shadow {
  opacity: 1; /* Показываем тень только при наведении */
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.6);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1b1b1b; /* Графитовый фон */
  color: #ffffff;
  padding: 5px;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Тень и выделение при фокусе */
select:focus,
select:hover {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

/* Стиль для опций */
option {
  background-color: #1b1b1b; /* Графитовый фон */
  color: #ffffff;
  padding: 10px;
}

/* Цвет выделения опций при наведении */
option:hover {
  background-color: #333333; /* Темнее для выделения */
}

/* Указатель для select */
.select-container::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.button {
  padding: 20px;
  border-radius: 30px;
  background: transparent;
  background-color: #1b1b1b; /* Графитовый фон */
  color: #fff;
  cursor: pointer;
  border: 1px solid #0a0a0a;
  transition: 0.3s ease;
}
@media (max-width: 620px) {
  .button {
    padding: 15px;
    font-size: 15px;
  }
}
@media (max-width: 420px) {
  .button {
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
  }
}

.button:hover {
  background-color: #32578b;
  border: 1px solid #fff;
  transition: 0.3s ease;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}