.about {
  .content {
    margin: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; // Для перехода на новую строку на маленьких экранах

    .info {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        font-size: 40px;
        font-weight: 600;
      }

      h4 {
        font-size: 40px;
        font-weight: 500;
      }

      p {
        font-size: 20px;
        line-height: 1.8;
        text-align: justify;
        color: #333;
        max-width: 700px;
        margin-bottom: 20px;
        hyphens: auto;
      }
    }

    img {
      width: 500px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      transition: transform 0.5s ease;

      &:hover {
        transform: translateX(20px);
      }
    }
  }
  @media (min-width: 1600px) {
    .content {
      .info {
        p {
          max-width: 900px;
        }
      }
      img {
        position: static !important;
      }
    }
  }

  // Адаптация для экранов 1200px и выше
  @media (min-width: 1200px) {
    .content {
      border-radius: 20px;
      margin: 120px;
      gap: 60px;
      flex-wrap: nowrap;
      padding: 30px;
      background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
      .info {
        width: 60%;
        h3,
        h4 {
          font-size: 42px;
          color: #fff;
        }

        p {
          font-size: 22px;
          color: #fff;
        }
      }

      img {
        position: sticky;
        top: 0;
        width: 40%;
        height: 40%;
        border-radius: 20px;
        box-shadow: 0 1px 25px #fff;
      }
    }
  }

  // Адаптация для экранов 920px и ниже
  @media (max-width: 920px) {
    .content {
      margin: 50px;
      gap: 30px;
      flex-direction: column;
      align-items: center;

      .info {
        h3,
        h4 {
          font-size: 36px;
        }

        p {
          font-size: 18px;
        }
      }

      img {
        width: 400px;
      }
    }
  }

  // Адаптация для экранов 600px и ниже
  @media (max-width: 600px) {
    .content {
      margin: 30px;
      gap: 20px;

      .info {
        h3,
        h4 {
          font-size: 22px;
        }

        p {
          font-size: 12px;
          font-weight: 600;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
