.careers {
  .text {
    width: 80%;
    font-weight: 700;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  @media (max-width: 1301) {
    .text {
      p {
        font-size: 20px;
      }
    }
  }
  @media (max-width: 1024px) {
    .text {
      p {
        font-size: 15px;
      }
    }
  }
}
