.map {
  @media (min-width: 1440px) {
    .content {
      position: relative;

      #map {
        width: 60% !important;
        .mapBtnContainer {
          button {
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 15px !important;
            }
          }
        }
      }
      .info {
        width: 40% !important;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0px !important;
        .text {
          position: absolute;
          z-index: 50;
          bottom: 30px;
          right: 30px;
          background: rgb(51, 51, 51);
          border-radius: 30px;
          display: flex;
          padding: 15px;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
        }
        img {
          width: 100% !important;
          height: 100%;
          box-shadow: none !important;
          border-radius: 30px 0px 0px 30px !important;
        }
      }
    }
  }

  .content {
    height: 50vh;
    background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    display: flex;
    color: #fff;
    border-radius: 30px;
    flex-wrap: nowrap; /* Убрали перенос строк */
    justify-content: space-between;

    #map {
      height: 50vh !important;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
      border-radius: 0px 30px 30px 0px;
      position: relative; /* Добавлено для ::after */
      .gm-style-cc {
        display: none !important;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0px 0px;
      img {
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 30px 30px 0px 0px;
        width: 50%;
        box-shadow: 0 1px 15px #fff;
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      .info {
        h1 {
          font-size: 20px !important;
        }
        p {
          font-size: 15px !important;
        }
      }
    }
  }
  @media (max-width: 1440px) {
    .content {
      position: relative;
      flex-direction: column;
      #map {
        width: 100% !important;
        border-radius: 30px;
        position: relative;
        .mapBtnContainer {
          width: max-content;
          display: flex !important;
          flex-direction: row !important;
          left: 0 !important;
          gap: 10px;
          button {
            display: flex;
            height: 35px;
            align-items: center;
            margin: 0px !important;
            img {
              width: 15px !important;
            }
          }
        }
      }
      .info {
        position: absolute;
        z-index: 50;
        bottom: 30px;
        right: 30px;
        background: rgb(51, 51, 51);
        border-radius: 30px;
        padding: 15px;
        display: flex;
        margin: 10px;
        justify-content: center;
        align-items: flex-start;
        h1 {
          font-size: 10px;
        }
        p {
          font-size: 10px;
        }
        img {
          box-shadow: none !important;
          border-radius: 0px !important;
          display: none;
        }
      }
    }
  }
}
