$card-bg-color: #000; // Черный цвет фона
$card-text-color: white;
$card-hover-scale: 1.1;
$card-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
$card-duration: 0.3s;

.services {
  @media (min-width: 1024px) {
    .list {
      margin-top: 50px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
      .card {
        background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
        color: $card-text-color;
        width: 350px;
        @media (min-width: 1562px) {
          width: 450px;
        }
        border-radius: 10px;
        overflow: hidden;
        box-shadow: $card-shadow;
        transition: transform $card-duration ease,
          box-shadow $card-duration ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        .stroke {
          margin: 0px;
        }
        .subject {
          font-size: 30px;
          padding-top: 20px;
          transition: text-shadow 0.3s ease; /* Плавный переход для текста */
        }
        .subject::after,
        .stroke::after {
          display: none;
        }
		  ul {
			padding: 30px;
			gap: 30px;
			display: flex;
			flex-direction: column;
		 
			li {
			  .stroke {
				 font-size: 20px;
				 padding-bottom: 20px;
				 word-break: break-word; /* Перенос слов */
				 overflow-wrap: break-word; /* Для длинных слов */
				 white-space: normal; /* Обычный перенос строк */
			  }
		 
			  border-bottom: 1px solid #fff;
			}
		 }

        .stroke,
        .subject {
          color: #fff;
          text-decoration: none;
          position: relative;
          transition: color 0.3s ease, text-decoration 0.3s ease;
        }

        .stroke::after,
        .subject::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #32578b;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s ease;
        }

        .stroke:hover::after,
        .subject:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &:hover {
          transform: scale($card-hover-scale); /* Увеличение */
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); /* Более яркая тень при наведении */
        }
      }
    }
  }
  @media (max-width: 1024px) {
    ul {
      padding: 0px;
    }
    .list {
      background: linear-gradient(to top right, #000, rgba(0, 0, 0, 0.9));
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
      color: #fff;
      border-radius: 10px;
      padding: 20px;
      overflow-y: hidden;
      font-size: 30px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card {
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          li {
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
          }
        }
      }
      li.card:last-child {
        ul {
          li:last-child {
            border: none;
          }
        }
      }

      h6 {
        margin: 0px;
      }
    }
  }
}
